//- 
//-     Title: Index.pug
//-     Author: Gunner Bradley
//-     Date: 09/12/21
//-     Description: Basic Pug Template
//- 
html
    head
        title Pug Template Example
    body
        h2= message