<!--
    Title: index.ejs
    Author: Gunner Bradley
    Date: 08/28/21
    Description: footer view for each page
-->
<div style="background-color: black; width: 100%; height: 20px; margin-top: 50px;"> 
    <p class="h6 text-light" style="float: right;">Footer: WEB340-H321 Node.js (2221-DD)</p>
</div>
</body>
</html>